In [1]:
!pip install pyMySQL

Collecting pyMySQL
  Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
     ---------------------------------------- 44.8/44.8 kB ? eta 0:00:00
Installing collected packages: pyMySQL
Successfully installed pyMySQL-1.1.0

In [5]:
import pymysql
import sys

In [23]:
try:
    #data base 연결 객체 생성
    con = pymysql.connect(host = 'localhost', port = 3306, db = 'mydb', user = 'root', passwd = 'qlenfrlsms99',charset = 'utf8')
    print(con)
    #SQL 실행 객체 생성
    cursor = con.cursor()
    #SQL 실행 - SQL에 서식을 설정하고 파라미터를 대입하는 코드 작성
    #12번 데이터의 부서를 영업 긜고 위치를 서초로 수정
    #cursor.execute("UPDATE DEPT SET DNAME = %s, LOC = %s WHERE DEPTNO = %s",('영업','서초',12))
    #SQL 실행 - SQL에 서식을 설정하고 parameter 대입
    #12번 데이터 삭제
    #cursor.execute("DELETE FROM DEPT WHERE DEPTNO = %s",(12))
    #12번 데이터 조회
#     cursor.execute(
#         "SELECT * FROM DEPT WHERE DEPTNO = %s", (11))
#     #검색 결과 중 하나의 데이터를 읽어오는 것
#     #검색 된 결과가 없으면 NONE이고 존재하면 TUPLE
#     record = cursor.fetchone()
#     if record == None:
#         print("검색된 데이터가 없습니다.")
#     else:
#         for attr in record:
#             print(attr)
            
#     #검색 결과 전체 데이터를 읽어오는 것
#     #여러 개의 데이터를 가져오는 경우는 데이터가 없는 경우
#     #빈 tuple return
#     cursor.execute(
#         "SELECT * FROM DEPT WHRE DEPTNO > %s",(100))
#     record = cursor.fetchall()
#     #여러 개를 return하는 함수를 호출해서 데이터가 없다는 사실을 확인하는 방법 - 데이터의 개수가 0인지 아닌지
#     if len(record) == 0:
#         print("검색된 데이터가 없음")
#     else:
#         for attr in record:
#             print(attr)
#     #삽입할 이미지 파일 내용 읽기
#     #자신의 파일 경로로 수정
#     f = open('s.jpg', 'rb')
#     snoopy = f.read()
#     f.close()
    
#     #data 삽입
#     cursor.execute('INSERT INTO BLOBTABLE VALUES (%s, %s)',('s.jpg',snoopy))
    
#     #cursor.execute("INSERT INTO DEPT VALUES(%s, %s, %s)", (12, '기획','제주')) # 위 보다 이 방법 더 권장

    #데이터 읽어 오기
    cursor.execute('SELECT * FROM BLOBTABLE')
    data = cursor.fetchone()
    #2번째 data가 blob이므로 두 번째 데이터를 파일로 변경
    print(data[0]) #파일명
    #파일을 쓰기 모드로 생성
    f = open(data[0], 'wb')
    #읽은 데이터 파일에 기록
    f.write(data[1])
    f.close
    
    #원본에 반영
    con.commit()
except:
    print('예외 발생: ', sys.exc_info())
finally:
    if con != None:
        con.close()

<pymysql.connections.Connection object at 0x00000240D0262290>
s.jpg